@charset "utf-8";

@font-face {
	font-family: Nanto-web;
	src: url('nanto.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Consolas;
	src: url('Consolas.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}