@charset "utf-8";

/******************************************************************************
	Sidebar
******************************************************************************/
.sidebar{
	padding: 50rem 0 20rem;
}
.navigation{
	counter-reset: navigation;

	font-size: 24rem;
	line-height: 28rem;

	overflow: hidden;
}



.add-tag::before{
	content: '<';
	color: var(--fg-brackets);
}
.add-tag:after{
	content: '>';
	color: var(--fg-brackets);
}


.row-nav{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.row-nav__left{
	position: relative;
	width: calc(5ch + 5rem);
}
.row-nav__left::before{
	counter-increment: navigation;
	content: counter(navigation);
	position: absolute;
	left: 5rem;
	top: 0;
	width: 2ch;
	
	text-align: right;
	color: var(--counter);
}
.row-nav__expand{
	position: absolute;
	width: 20rem;
	height: 20rem;
	top: 5rem;
	left: 3.2ch;
	
	background-color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;

	cursor: pointer;
}
.row-nav__link{
	margin-left: 0;

	color: var(--fg);
	cursor: pointer;
}
.row-nav__right{
	transform: translateY(1rem);
	
	color: #808080;
	cursor: pointer;
}



.sub-navigation .row-nav__link{
	margin-left: 2ch;
}
.sub-navigation .sub-navigation .row-nav__link{
	margin-left: 4ch;
}
.sub-navigation .sub-navigation .sub-navigation .row-nav__link{
	margin-left: 6ch;
}